
.sec{
    margin-top: 50px;
    margin-bottom: 50px;
    /* text-align: center; */
   
    width: 50%;
}

.sec .divsec{
    display: flex;
    flex-direction: row;
    gap: 2px;
    justify-content: center;
    align-items: center;
}

.sec .divsec #div1{
position: relative;
bottom: 120px;
padding-right: 30px;
}

.sec .divsec .div2sec{
    display: flex;
    flex-direction: row;
    gap: 10px;
    justify-content:center;
    align-items: center;
}

.sec .divsec .div1sec{
 margin-bottom: 30px;
}

.sec .divsec .div1sec h1{
  padding-bottom: 10px;
    font-size: 25px;
    font-weight: 100;
}

.sec .divsec .div1sec p{
  font-size: 16px;
  color: grey;
  width: 400px;
}

.sec .divsec .div2sec div h3{
  font-size: 20px;
  font-weight: 100;
  position: relative;
  bottom: 40px;
  right: 15px;
  /* position: relative;
  right: 120px;
  top: 25px; */
}

.sec .divsec .div2sec div p{
  font-size: 20px;
  color: grey;
}


.sec .fourthsec7{
    background-color: rgb(240, 238, 238);
   padding-top: 30px;
   padding-bottom: 30px;
   padding-left: 60px;
   padding-right: 60px;
   }
  
  
   .sec .fourthsec7 form div{
    display: flex;
    flex-direction: column;
    gap: 10px;
   }
  
   .sec .fourthsec7 form div input{
  width: 270px;
  height: 30px;
  background-color: rgb(218, 217, 217);
  border: 1px solid rgb(218, 217, 217);
  border-radius: 3px;
  margin-bottom: 5px;

   }

   .sec .fourthsec7 form div textarea{
    width: 270px;
    height: 100px;
    background-color: rgb(218, 217, 217);
    border: 1px solid rgb(218, 217, 217);
    border-radius: 3px;
     }
  
   .sec .fourthsec7 form div label{
       padding-right: 210px;
       font-size: 11px;
       color: rgb(140, 138, 138);
       position: relative;
       top: 32px;
     }
  
     .sec .fourthsec7 form #num label{
      padding-right: 162px;
    }

    .sec .fourthsec7 form #text label{
      padding-right: 150px;
    }

   .sec .fourthsec7 form div button{
    width: 250px;
    height: 33px;
    background-color: grey;
    border: 1px solid grey;
    border-radius: 5px;
    color: white;
    font-size: 12px;
    margin-top: 30px;
     }
  
     .sec .fourthsec7 form div button:hover{
      background-color: black;
       }